<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ca58e">  <td>20/09/21 23:13:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChecksumTestCases.testFile1()[pri:0, instance:com.ues.simplechecksum.testng.ChecksumTestCases@46fa7c39]">testFile1</td> 
  <td>main@1354083458</td>   <td></td> </tr>
<tr bgcolor="9ca58e">  <td>20/09/21 23:13:51</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChecksumTestCases.testFile2()[pri:0, instance:com.ues.simplechecksum.testng.ChecksumTestCases@46fa7c39]">testFile2</td> 
  <td>main@1354083458</td>   <td></td> </tr>
</table>
